
body {
  font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(248, 197, 228);
}


form {
  display: inline;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 45%;
  left: 79%; /* Adjust the left value to move the form to the right */
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(202, 196, 196, 0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 20px 20px;
  margin-top: 100px;
}
form *{
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    color: #313030;
    letter-spacing: 0.3px;
    outline: none;
    border: none;
    margin: 0 auto;
}
form h3 {
    font-size: 34px;
    font-weight: 530;
    line-height: 45px;
    text-align: center;
}
label {
    display: block;
    margin-top: 13px;
    font-size: 17px;
    font-weight: 520;
}
input {
    display: block;
    height: 45px;
    width: 70%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 18px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    max-width: 150px;                                  
}
::placeholder {
    color: #4b454a69;
}
button{
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    margin-top: 50px;
    width: 100%;
    color: #555;
    padding: 18px 0;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
td {
  text-align: center;
  padding: 0.5em 1.5em;
}

button {
    
    outline:  0.2rem solid rgb(124, 64, 104);
    background-color:  rgb(252, 199, 223);
}
input[type=button] {
    outline:  0.2rem solid rgb(124, 64, 104);
    background-color:  rgb(252, 199, 223);
    display: table-cell;
    margin:10px;
    width: 100%;
}
input[type=text] {
    outline:  0.2rem solid rgb(124, 64, 104);
    background-color:  rgb(252, 199, 223);
    display: table-cell;
    margin:10px;
    width: 100%;
}
#page_content {
  
  display: table-column-group;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 45%;
  left: 30%; /* Adjust the left value to move the form to the right */
  border-radius: 8px;
  background: rgba(255, 200, 226, 0.726);
  backdrop-filter: blur(10px);
  border: 5px solid rgba(202, 196, 196, 0.1);
  box-shadow: 0 0 20px #555;
  padding: 2px 2px;
  margin-top: 80px;
  margin-left: 65px;
} 